.App {
  text-align: center;
  font-family: 'Agdasima', sans-serif;
  font-size: large;
}

.nav-link {
  color:  aliceblue;
}

.nav-link:hover{
  color: #0aabc0;
}

nav {
  background-image: linear-gradient(to bottom, #000000, #161117, #181f2b, #092f3b, #033f3c);
}

.nav-link {
  color: white;
}

.bienvenida{
  margin-top: 20px;
}