/* .card-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

 */

.CardItem{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  grid-gap: 1%; 
  padding-top: 1%;
}